In [8]:
#ques1:
import pandas as pd
series=pd.Series([4,8,15,16,23,42])
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
#ques2: 
list1=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(list1)
series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [20]:
#ques3:
dict1={'Name':['Alice','Bob','Claire'],
      'Age':[25,30,27],
      'Gender':['Female','Male','Female']}
df=pd.DataFrame(dict1)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [21]:
#ques4: 
#Both DataFrame and series are the two main data structure of pandas library. Series in pandas contains a
#single list which can store heterogeneous type of data, because of this, series is also considered as a 1-dimensional data structure.

#On the other hand, DataFrame is a 2-dimensional data structure which contains multiple lists of heterogeneous type of data. 
#DataFrame can contain multiple series or it can be considered as a collection of series.
# Example:
# DataFrame: dict1={'Name':['Alice','Bob','Claire'],
#     'Age':[25,30,27],
#     'Gender':['Female','Male','Female']}
#df=pd.DataFrame(dict1)
#df
#Series:  list1=[1,2,3,4,5,6,7,8,9,10]
#series=pd.Series(list1)
#series

In [22]:
#ques5:
#some common function to manupulate data in pandas are: Describe,groupby,fillna,set_index,Reset_index,head(),tail(),loc(),iloc(),drop()
#Example:
#import pandas as pd
#df=pd.read_csv("file_name")
#df.describe()

In [23]:
#ques6:
#DataFrame and Panel are mutable in nature.

In [24]:
#ques7:
ser1=pd.Series([1,2,3])
ser2=pd.Series([3,4,5])
ser3=pd.Series([4,5,6])
ser1
df

0    1
1    2
2    3
dtype: int64