In [11]:
#ques1:
import pandas as pd
course_name = ['Data Science', 'Machine Learning' ,'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df[1:2]

        course_name  duration
1  Machine Learning         3

In [12]:
#ques2:
#loc: It is primarily label-based indexing and allows you to access rows and columns using labels or boolean arrays. With loc, 
#you specify the row and column labels explicitly.
#iloc: It is primarily integer-based indexing and allows you to access rows and columns using integer positions or boolean arrays. With iloc, 
#you specify the row and column positions explicitly.

In [43]:
#ques3:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
new_df
output_loc = new_df.loc[2]
output_iloc = new_df.iloc[2]
print(output_loc)
print(output_iloc)
#The output_loc will be a Series containing the row with label 2 from the new_df DataFrame, while output_iloc will be a Series containing 
#the third row (index position 2) from the new_df DataFrame.

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [67]:
#ques4:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1
df1.mean()
df1.std()[1:2]

column_2    0.353858
dtype: float64

In [75]:
#ques5:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1.at[2, 'column_2'] = 'ashish'
df1
#mean can only be calculated with similar data type. here in column 2 we have combination of integer and object data type.

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.971227  0.529824  0.044800  0.123300  0.143965  0.995463
2  0.146330    ashish  0.373795  0.333584  0.176980  0.388477
3  0.236552   0.37176  0.895460  0.365039  0.211688  0.940365
4  0.881578  0.822546  0.447203  0.609872  0.136116  0.248309
5  0.272516  0.177605  0.458894  0.528856  0.900446  0.137217
6  0.726839  0.420142  0.066881  0.119882  0.126252  0.974685

In [76]:
#ques6:
#rolling().mean(): Computes the rolling mean over a specified window size.
#rolling().sum(): Calculates the rolling sum over a specified window size.
#rolling().max(): Finds the rolling maximum over a specified window size.
#rolling().min(): Computes the rolling minimum over a specified window size.
#rolling().std(): Calculates the rolling standard deviation over a specified window size.
#rolling().var(): Computes the rolling variance over a specified window size.
#rolling().apply(): Applies a custom function to the rolling window.

In [77]:
#ques7:
from datetime import datetime

# Get the current date and time
current_date = datetime.now()

# Extract the month and year
current_month = current_date.month
current_year = current_date.year

# Print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: 7
Current year: 2023

In [80]:
 #ques8:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to pandas DateTime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference using timedelta
time_diff = date2 - date1

# Extract the days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

# Display the result
print("Time difference:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD):  2023-10-23
Enter the second date (YYYY-MM-DD):  2024-09-09

Time difference:
Days: 322
Hours: 0
Minutes: 0

In [ ]:
#ques 9:
import pandas as pd

# Function to convert a column to categorical data type using a specified category order
def convert_column_to_categorical(data, column_name, category_order):
    data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)
    return data

# Prompt user for file path, column name, and category order
file_path = input("Enter the file path: ")
column_name = input("Enter the column name to convert: ")
category_order = input("Enter the category order (comma-separated): ").split(",")

# Read CSV file
data = pd.read_csv(file_path)

# Convert specified column to categorical data type
data = convert_column_to_categorical(data, column_name, category_order)

# Sort data by the specified column
data = data.sort_values(by=column_name)

# Display the sorted data
print(data)

In [ ]:
#ques10:
import pandas as pd
import matplotlib.pyplot as plt
#prompt user to enter file path
file_path=input("Enter the file path")
#to read csv file path
df=pd.read_csv(file_path)
grouped_data = data.groupby('Category')['Sales'].sum()

# Get the unique categories
categories = grouped_data.index

# Get the unique years from the 'Year' column
years = data['Year'].unique()

# Create a DataFrame to store the sales data for each category and year
sales_data = pd.DataFrame(index=years, columns=categories)

# Fill the DataFrame with the sales data
for year in years:
    sales_data.loc[year] = data[data['Year'] == year].groupby('Category')['Sales'].sum()

# Create a stacked bar chart
sales_data.plot(kind='bar', stacked=True)

# Set the chart title and labels
plt.title('Sales Data by Category')
plt.xlabel('Year')
plt.ylabel('Sales')

# Display the chart
plt.show()

In [ ]:
#ques11:
import pandas as pd
#prompt user to enter the file path
file_path=input("enter the file path")
#read the csv file
df=pd.read_csv(file_path)
#mean,median and mode of test score
Mean_score=df.mean()
Median_score=df.meadian()
mode_score=df.mode()
df1=pd.DataFrame('Mean_score':)